@page
@model SLApps.Pages.Products.DeleteModel

<form method="post" enctype="multipart/form-data">
    <input hidden asp-for="Product.Id" />
    @*<input hidden asp-for="Product.ImageUrl" />*@
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Supprimer Un Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Product.Title">Title</label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description">Description</label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ISBN">ISBN</label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Author">Author</label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ListPrice">List Price</label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price">Price</label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price50">Price 50</label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price100">Price 100</label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ClientId">Client</label>
            <select asp-for="Product.ClientId" asp-items="@Model.Clients" class="form-select">
                <option disabled selected>--Selectionner Client--</option>
            </select>
            <span asp-validation-for="Product.ClientId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Supprimer Product</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Retour à la liste</a>


</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
