@page
@model SLApps.Pages.Voitures.DeleteModel

<form method="post" enctype="multipart/form-data" name="formulaire">
    <input hidden asp-for="Voiture.id_voiture" />
    <input hidden asp-for="Voiture.image_voiture" />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary pl-3">Supprimer Une Voiture</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Voiture.marque_voiture">Marque Voiture</label>
                    <input asp-for="Voiture.marque_voiture" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Voiture.modele_voiture">Modele Voiture</label>
                    <input asp-for="Voiture.modele_voiture" disabled class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Voiture.couleur_voiture">Couleur Voiture</label>
                    <input asp-for="Voiture.couleur_voiture" disabled class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Voiture.immatriculation_voiture">Immatriculation Voiture</label>
                    <input asp-for="Voiture.immatriculation_voiture" disabled class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Voiture.annee_voiture">Année Voiture</label>
                    <input asp-for="Voiture.annee_voiture" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Voiture.image_voiture">Image Voiture</label>
                    <input type="file" id="uploadBox" name="file" disabled class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary" style="width:150px;" name="btn_submitt">Supprimer Voiture</button>
                <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Retour à la liste</a>
            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.Voiture.image_voiture" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

