@page
@model SLApps.Pages.Clients.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Créer Un Client</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Client.nom_client">Nom Client</label>
            <input asp-for="Client.nom_client" class="form-control" />
            <span asp-validation-for="Client.nom_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.prenom_client">Prenom Client</label>
            <input asp-for="Client.prenom_client" class="form-control" />
            <span asp-validation-for="Client.prenom_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.age_client">Age Client</label>
            <input asp-for="Client.age_client" class="form-control" />
            <span asp-validation-for="Client.age_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.numero_telephone_client">Numero Telephone Client</label>
            <input asp-for="Client.numero_telephone_client" class="form-control" />
            <span asp-validation-for="Client.numero_telephone_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.email_client">Email Client</label>
            <input asp-for="Client.email_client" class="form-control" />
            <span asp-validation-for="Client.email_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.adresse_client">Adresse Client</label>
            <input asp-for="Client.adresse_client" class="form-control" />
            <span asp-validation-for="Client.adresse_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.code_postal_client">Code Postal Client</label>
            <input asp-for="Client.code_postal_client" class="form-control" />
            <span asp-validation-for="Client.code_postal_client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Client.ville_client">Ville Client</label>
            <input asp-for="Client.ville_client" class="form-control" />
            <span asp-validation-for="Client.ville_client" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-primary" style="width:150px;">Créer Client</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Retour à la liste</a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}
