@page
@model SLApps.Pages.Clients.DeleteModel

<form method="post" enctype="multipart/form-data" name="formulaire">
    <input hidden asp-for="Client.id_client" />
    <input hidden asp-for="Client.image_client" />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary pl-3">Supprimer Un Client</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Client.nom_client">Nom Client</label>
                    <input asp-for="Client.nom_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.prenom_client">Prenom Client</label>
                    <input asp-for="Client.prenom_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.age_client">Age Client</label>
                    <input asp-for="Client.age_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.numero_telephone_client">Numero Telephone Client</label>
                    <input asp-for="Client.numero_telephone_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.email_client">Email Client</label>
                    <input asp-for="Client.email_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.adresse_client">Adresse Client</label>
                    <input asp-for="Client.adresse_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.code_postal_client">Code Postal Client</label>
                    <input asp-for="Client.code_postal_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.ville_client">Ville Client</label>
                    <input asp-for="Client.ville_client" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Client.image_client" class="custom-file-label">Image Client</label>
                    @if (Model.Client.image_client != null)
                    {
                        <span>(<a target="_blank" href="@Url.Content(Model.Client.image_client)">@Model.Client.image_client</a>)</span>
                    }
                    <input type="file" asp-for="Client.image_client" id="uploadBox" name="file" disabled class="custom-file-input form-control" />
                </div>
                <button type="submit" class="btn btn-primary" style="width:150px;" name="btn_submitt">Supprimer Voiture</button>
                <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Retour à la liste</a>
            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.Client.image_client" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

